body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Work Sans;
}
/*-----------------------------------------------------------------------------------------------------------------------
 banner section start 
-----------------------------------------------------------------------------------------------------------------------*/
.header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 200px;
  padding-left: 1000px;
  text-align: right;
}
.header-one{
    background-image: url(./images/banner/banner1.png);
}
.header-two {
  background-image: url(./images/banner/banner2.png);
}
.header-three {
  background-image: url(./images/banner/banner3.png);
}
h1 {
  margin-top: 0;
  font-size: 65px;
}
.paragraph {
  color: var(--dark-02, #444343);
  font-size: 18px;
}
.btn{
    padding: 20px 25px;
  background-color: #f15b22;
  color: aliceblue;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
}
.btn-primary {
    background-color: #f15b22;
    color: aliceblue;
}
.btn-primary-three{
    background-color: white;
    color: #005FAC;
}
/*-------------------------------------------------------------------------------------------------------------------------
 banner section end  
-------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------
 failure section start 
-------------------------------------------------------------------------------------------------------------------------*/
.failure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.failure-title {
  color: var(--dark-01, #151414);
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.failure-detail {
  color: var(--dark-02, #444343);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.failure-right {
  padding-left: 110px;
  padding-right: 50px;
}

/*-------------------------------------------------------------------------------------------------------------------------
 failure section end 
-------------------------------------------------------------------------------------------------------------------------*/
.icon {
  display: flex;
  justify-content: space-between;
}
.plans-title {
  text-align: center;
  padding-bottom: 30px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.callnow {
  height: 300px;
  margin: 130px auto;
}
.bg-one{
    background-image: linear-gradient(90deg, #f15b22 0%, rgba(2, 2, 2, 0) 100%),
    url(./images/watch.png);
}
.bg-three{
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(2, 2, 2, 0) 100%),
    url(./images/watch.png);
}
.callnow-text h2 {
  color: white;
  font-size: 30px;
}
.callnow-text {
  padding: 60px;
}
.callnow-btn {
  background-color: white;
  color: #f15b22;
}
.callnow-btn-3 {
  background-color: #005FAC;
  color: white;
}
footer {
  background-color: #151414;
  color: white;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 130px;
}
.footer-left {
  width: 500px;
  justify-items: end;
}
.color-white {
  color: white;
}
.footer-input {
  width: 325px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  padding-left: 20px;
  display: block;
}
.subscribe{
    margin: 43px 0;
}
